.App {
  padding: 15%;
}

.App h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 25px;
}

.App svg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.formulario label {
    font-size: 20px;
}

.formulario input {
    width: 250px;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 5px;
    margin: 10px 0px;
}

.formulario button {
    width: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #00ff88;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
}

.formulario button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

hr {
    width: 100%;
    margin: 15px;
}

.usuarios {
    margin-top: 50px;
}


.label {
    display: flex;
    justify-content: space-around;
}



.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 15px;
}

span svg {
    cursor: pointer;
}
